/* Généraux */

body {
	background-image: url("images/fond-losange.png");
	color: #b8bbc1;
	
}
a {
	text-decoration: none;
}
a:link {
	color: #2041f9;
}
a:visited {
	color: #2041f9;
}
a:hover {
	color: #a5780e;
}
a:active {
	color: white;
}
	
img#logo {
	height: 200px;
	width: 450px;
}


/* Entête */

div.entete {
	float: none;
    width:100%;
    text-align:center;
}

div.main {
    float: left;
    width: 250px;
    height: 300px;
    text-align: center;
	border: 3px solid;
    position: relative;
        
}

div.photo {
    border-bottom: 1px solid;
    position: relative;
	
}

div.nomPrix {
    width: auto;
    max-height: 175px;
    text-align: center;
    position: relative;
}

img {
	margin: 2px 2px 2px 2px;
    display:inline-block;
    margin: 0 auto;
        
}


/* Menu */ 

div.menu {
	float: none;
}

div.gauche {
	width: 40%;
	length: 10 cm;
}

div.droite {
	float: right;
	width: 60%;
	padding-right: 2em;
	padding-top: 2em;
}
pre.bonjour {
	text-align: right;
	font-family: Century Gothic;
}

pre.menu {
	text-align: center;
	font-family: Perpetua Titling MT;
	font-size: 110%;
}

hr.menuHaut {
	border-color: #a5780e;
	width: 700px;
	border-top: 1px dashed #a5780e;
	border-bottom: 1px solid #a5780e;
}
hr.menuBas {
	border-color: #a5780e;
	width: 700px;
	border-top: 1px dashed #a5780e;
	border-bottom: 1px solid #a5780e;
}

div.accueil {
	text-align: center;
}


/* Section affichage vêtements */

div.menuHomme,div.menuFemme {
	float: left;
	width: 20%;
	margin-left: 2em;
}
.menuHomme>a {
	font-family: Papyrus;
	font-size: 14px;
	font-weight: normal;
}
.menuFemme>a {
	font-family: Papyrus;
	font-size: 14px;
}

#femme {
	color: pink;
}
#homme {
	color: #42f4f1;
}


/* Affichage item */

div.item {
    float: left;
    width: 400px;
    height: 400px;
    text-align: center;
	border: 3px solid;
    position: relative;
	
	margin-left: 10em;
	margin-top: 4em;	
}
div.descr {
	float: right;
    width: 300px;
    height: 400px;
	margin-top: 4em;
	margin-right: 10em;
	position: relative;
	font-family: Century Gothic;	
}
p.nomItem {
	font-family: Copperplate Gothic Light;
	font-size: 25px; 
	text-transform: capitalize; 
	font-weight: bolder;
	color: white;
}
form.elements {
	font-family: Century Gothic; 
	color: #a5780e;
}
img.panier:hover {
	border: 2px solid gold;
}
.panierItem{
	text-align: center;
}
h3.item {
	color: white;
	font-family: Yuppy SC Regular;
	font-weight: bold;
}
th,td {
	text-align: center;
	font-family: Century Gothic;
}
th {
	padding: 10px;
	color: #616b7c;
}
td {
	padding: 20px;
	color: #a5780e;
}
th.prix {
	color: beige;
}
td.prix {
	color: gold;
}
th.prix, td.prix {
	padding: 5px;
	font-family: Perpetua Titling MT;
}
th.delete {
	color: red;
}
a#rupture {
    color: red;
    font-size: 14pt;
    
}
/* Panier */

h1.panier {
	font-family: Harrington;
	margin-left: 20%;
	color: #939171;
}
table.panierItem {
	width: 800px;
	margin:0 auto;
}
div.prix {
	width: 250px;
	margin:0 auto;
	padding-left: 4em;
	background-color: black;
	border-radius: 25px;
}
img#delete {
	width: 30px;
	height: 30px;
}
form#commander {
	text-align: center;
}
button#caisse, button#suivant, button#delete {
	background-color: darkblue;
	color: white;
	padding: 10px 24px;
	font-family: Century Gothic;
	margin-top: 1em;
}


/* Page contact */

div.contact {
	text-align: center;
	float: left;
	width: 40%;
	margin: 2em;
	margin-top: 6em;
}
address#adresse {
	font-size: 20px;
	color: #7a7d82;
	font-family: Eurostile;
}
address>h4 {
	color: white;
	font-style: normal;
	font-family: Kristen ITC, Copperplate;
}
div.retour {
	float: right;
	width: 38%;
	margin: 3em;
	margin-top: 5em;
	padding: 2em 4em;
	border: 2px solid white;
	background-color: black;
	font-family: Optima;
	
}
div.retour label {
	font-family: Copperplate Light;
	
}
h1, h2 {
	font-family: Matura MT Script Capitals;
	color: red;
	font-weight: lighter;
}
form#retour>label {
	color: #a5780e;
	font-family: Copperplate;
}
div.haut {
	width: 1350px;
	height: 750px;
}


/* Paiement */

div#paiement {
	border: 2px solid white;
	margin: 5% 30%;
	padding: 2em 4em;
	position: relative;
	background-color: black;
}
div#paiement label, div#paiement>h4 {
	font-family: Copperplate;
	color: #a5780e;
}
div#paiement>h1 {
	color: beige;
}
div#paiement>h3 {
	font-family: Lucida Calligraphy;
}
div#paiement>h4 {
	font-family: Copperplate;
	color: red;
}
div#paiement>h5 {
	font-family: Lucida Calligraphy;
	font-size: 10pt;
}
input.methode {
	font-family: Century Gothic;
}


/* Confirmation commande */

div#confirmCommande {
	border: 2px solid white;
	margin: 5% 30%;
	padding: 1% 4%;
	background-color: grey;
	color: black;
	border-radius: 25px;
}
div#adresseExpedition {
	font-family: Copperplate;
	
}
div#itemsCommande {
	font-family: Copperplate, Optima;
	
}
.titreConfirmation {
	color: white;
	font-family: Copperplate Gothic Bold, Desdemona;
}
h1.confirmation {
	color: #9b0319;
	font-family: Matura MT Script Capitals;
}


/* Bas de page */

div.bas {
	text-align: center;
	font-family: Copperplate;
	width: 100%;
}