
body {
	background-image: url("images/f9d266aa.png");
	color: #b8bbc1;
}

a {
	text-decoration: none;
}
a:link {
	color: #2041f9;
}
a:visited {
	color: #2041f9;
}
a:hover {
	color: #a5780e;
}
a:active {
	color: white;
}
	

div.entete {
	float: none;
        width:100%;
        text-align:center;
}

div.main {
        float: left;
        width: 250px;
        height: 300px;
        text-align: center;
		border: 3px solid;
        position: relative;
        
}

div.photo {
        border-bottom: 1px solid;
        position: relative;
	
}

div.nomPrix {
        width: auto;
        max-height: 175px;
        text-align: center;
        position: relative;
}

img {
	margin: 2px 2px 2px 2px;
        display:inline-block;
        margin: 0 auto;
        
}



div.menu {
	float: none;
}

div.gauche {
        
	
	width: 40%;
	length: 10 cm;
}

div.droite {
	float: right;
	width: 60%;
}



pre.bonjour {
	text-align: right;
	font-family: Century Gothic;
}

pre.menu {
	text-align: center;
	font-family: Perpetua Titling MT;
	font-size: 110%;
}

hr.menuHaut {
	border-color: #a5780e;
	width: 700px;
	border-top: 1px dashed #a5780e;
	border-bottom: 1px solid #a5780e;
}
hr.menuBas {
	border-color: #a5780e;
	width: 700px;
	border-top: 1px dashed #a5780e;
	border-bottom: 1px solid #a5780e;
}

div.accueil {
	text-align: center;
}

div.menuHomme,div.menuFemme {
	float: left;
	width: 20%;
	margin-left: 2em;
}
.menuHomme>a {
	font-family: Papyrus;
	font-size: 14px;
	font-weight: normal;
}
.menuFemme>a {
	font-family: Papyrus;
	font-size: 14px;
}

#femme {
	color: pink;
}
#homme {
	color: #42f4f1;
}



div.item {
    float: left;
    width: 400px;
    height: 400px;
    text-align: center;
	border: 3px solid;
    position: relative;
	
	margin-left: 10em;
	margin-top: 4em;
	
	
}
div.descr {
	float: right;
    width: 300px;
    height: 400px;
	margin-top: 4em;
	margin-right: 10em;
	position: relative;
	font-family: Century Gothic;
	
	
}
p.nomItem {
	font-family: Copperplate Gothic Light;
	font-size: 25px; 
	text-transform: capitalize; 
	font-weight: bolder;
	color: white;
}
form.elements {
	font-family: Century Gothic; 
	color: #a5780e;
}
img.panier:hover {
	border: 2px solid gold;
}
.panierItem{
	text-align: center;
}
h3.item {
	color: white;
	font-family: Yuppy SC Regular;
	font-weight: bold;
}
th,td {
	text-align: center;
	font-family: Century Gothic;
}
th {
	padding: 10px;
	color: #616b7c;
}
td {
	padding: 20px;
	color: #a5780e;
}
th.prix, td.prix {
	padding: 5px;
	color: blue;
}
th.delete {
	color: red;
}
h1.panier {
	font-family: Harrington;
	margin-left: 90px;
	color: #939171;
}
table.panierItem {
	width: 800px;
	margin:0 auto;
}
div.prix {
	width: 250px;
	margin:0 auto;
	background-color: white;
}
img#delete {
	width: 30px;
	height: 30px;
}

